[Unit]
Description=Check GitHub Releases for the latest YAME
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/yame-update
TimeoutStartSec=180
